$color1: #f0b67f;
//rgba(240, 182, 127, 100)
$color2: #fe5f55;
//rgba(254, 95, 85, 100)
$color3: #9c8bd6;
//rgba(156, 139, 214, 100)
$color4: #96ddca;
//rgba(150, 221, 202, 100)
$color5: #d3d3d3;
//rgba(211, 211, 211, 100)

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}

#page-content {
  margin-left: 20px;
}

form {
  .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dotted #ebeef2;
  }
  label.error {
    color: $color1;
    font-style: italic;
    font-weight: normal;
  }
}

#message {
  display: none;
}

.minimenu {
  display: none;
  margin: 5px 0 0;
}

.bg-color-1 {
  background-color: $color1 !important;
}

.bg-color-2 {
  background-color: $color2 !important;
}

.bg-color-3 {
  background-color: $color3 !important;
}

.bg-color-4 {
  background-color: $color4 !important;
}

table tbody tr.active_add_tran td {
  background-color: $color4;
  @include transition(background-color 3s linear);
}

table tbody tr.active_add_tran.active td {
  background-color: $color5;

}

.spinner {
  display: inline-block;
  opacity: 0;
  width: 0;

  -webkit-transition: opacity 0.25s, width 0.25s;
  -moz-transition: opacity 0.25s, width 0.25s;
  -o-transition: opacity 0.25s, width 0.25s;
  transition: opacity 0.25s, width 0.25s;
}

.has-spinner.active {
  cursor:progress;
}

.has-spinner.active .spinner {
  opacity: 1;
  width: auto; /* This doesn't work, just fix for unkown width elements */
}

.has-spinner.btn-mini.active .spinner {
  width: 10px;
}

.has-spinner.btn-small.active .spinner {
  width: 13px;
}

.has-spinner.btn.active .spinner {
  width: 16px;
}

.has-spinner.btn-large.active .spinner {
  width: 19px;
}