$color1: #f0b67f; //rgba(240, 182, 127, 100)
$color2: #fe5f55; //rgba(254, 95, 85, 100)
$color3: #9c8bd6; //rgba(156, 139, 214, 100)
$color4: #96ddca; //rgba(150, 221, 202, 100)
$color5: #d3d3d3; //rgba(211, 211, 211, 100)

#page-content {
  margin-left: 20px;
}

form {
  .form-group {
    margin: 0;
    border: none;
    padding: 15px;
    border-bottom: 1px dotted #ebeef2;
  }
  label.error {
    color: $color1;
    font-style: italic;
    font-weight: normal;
  }
}
#message {
  display: none;
}

.minimenu {
  display: none;
  margin: 5px 0 0;
}